modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "gce"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
expertMode = true
integrations = ["javascript_object_storage:2.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-c5be720f-7a0c-4ddd-9da7-e7078c223082"

[userenv]

[userenv.production]

[userenv.development]

[userenv.shared]
SOLANA_ESCROW_PROGRAM_ID = "EcHQuumyVfHczEWmejfYdcpGZkWDJBBtLV6vM62oLs16"
SOLANA_RPC_URL = "https://api.devnet.solana.com"
SOLANA_PLATFORM_WALLET = "FY9EyGxTr8RGxxuDL53zCwfQLi4TUnM35q3t1FMYZpac"
SOLANA_USDC_MINT = "4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU"
PLATFORM_FEE_RATE = "0.01"
